.scMedia {
  display: flex;
  height: 100vh;
  align-items: flex-end;
  justify-content: center;
  background-color: #09615ce5;
}
.scMedia div a {
  text-decoration: none;
  color: #fff;
}

.scMedia div {
  background-color: rgb(119, 196, 186);
  padding: 1rem;
  margin: 4px;
  border-radius: 5%;
  transition: padding 1s;
}
.scMedia div a img {
  height: 40px;
}
.scMedia div:hover {
  padding: 1.3rem;
}
